*{

     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


body{

     font-family: "Eater", serif; 
}

nav{


     display: flex;
     justify-content: space-between;
      padding: 0 30px;
     align-items: center;
     margin: auto;
     height: 72px;
     width: 100%;
     background-color: gray;

     
}

nav ul{

     display: flex;
     list-style: none;
     gap: 20px;
     cursor: pointer ;
     margin-right: 100px;
}

nav ul li a{

    text-decoration: none;
    color: black;
}




