*{

   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


#main-div {
  height: 100vh;              
  display: flex;
  justify-content: center;  
  align-items: center;        
  background-color: #f4f4f4;
}




.main {
  width: 400px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
   
.in {
  padding: 8px;
}
